In [ ]:
import pandas as pd
import numpy as np

In [ ]:
for _ in " " * int(input()):
  print("hi")

5
hi
hi
hi
hi
hi

In [ ]:
data = pd.read_csv ('/content/drive/My Drive/Autism CSV/Final_ds.csv')

In [ ]:
data

      A1  A2  A3  A4  ...  Jaundice   Parent_ASD  Score  Class
0      0   0   0   0  ...         NO          NO      0     NO
1      1   1   1   1  ...         NO          NO     10    YES
2      1   1   0   1  ...         NO          NO      5     NO
3      1   0   0   0  ...         NO          NO      7    YES
4      1   1   1   0  ...         NO          NO      4     NO
...   ..  ..  ..  ..  ...        ...         ...    ...    ...
1817   0   1   0   1  ...         NO          NO      7    YES
1818   1   0   0   0  ...         NO          NO      3     NO
1819   1   0   1   1  ...         NO          NO      7    YES
1820   1   0   0   1  ...         NO          NO      6     NO
1821   1   0   1   1  ...         NO          NO      8    YES

[1822 rows x 17 columns]

In [ ]:

# Total number of records
n_records = len(data.index)

# TODO: Number of records where individual's with ASD
n_asd_yes = len(data[data['Class'] == 'YES'])

# TODO: Number of records where individual's with no ASD
n_asd_no = len(data[data['Class'] == 'NO'])

# TODO: Percentage of individuals whose are with ASD
yes_percent = float(n_asd_yes) / n_records *100

# Print the results
print ("Total number of records: {}".format(n_records))
print ("Individuals diagonised with ASD: {}".format(n_asd_yes))
print ("Individuals not diagonised with ASD: {}".format(n_asd_no))
print ("Percentage of individuals diagonised with ASD: {:.2f}%".format(yes_percent))

Total number of records: 1822
Individuals diagonised with ASD: 547
Individuals not diagonised with ASD: 1275
Percentage of individuals diagonised with ASD: 30.02%

In [ ]:
data = pd.read_csv ('/content/drive/My Drive/Autism CSV/Final_ds.csv', na_values=['?'])
data.head(n=5)

   A1  A2  A3  A4  ...  Jaundice   Parent_ASD  Score  Class
0   0   0   0   0  ...         NO          NO      0     NO
1   1   1   1   1  ...         NO          NO     10    YES
2   1   1   0   1  ...         NO          NO      5     NO
3   1   0   0   0  ...         NO          NO      7    YES
4   1   1   1   0  ...         NO          NO      4     NO

[5 rows x 17 columns]

In [ ]:
print(data['A1'].isnull().values.any())
print(data['A2'].isnull().values.any())
print(data['A3'].isnull().values.any())
print(data['A4'].isnull().values.any())
print(data['A5'].isnull().values.any())
print(data['A6'].isnull().values.any())
print(data['A7'].isnull().values.any())
print(data['A8'].isnull().values.any())
print(data['A9'].isnull().values.any())
print(data['A10'].isnull().values.any())

False
False
False
False
False
False
False
False
False
False

In [ ]:
print(data['Age'].isnull().values.any())
print(data['Gender'].isnull().values.any())
print(data['Ethnicity'].isnull().values.any())
print(data['Parent_ASD'].isnull().values.any())
print(data['Score'].isnull().values.any())
print(data['Class'].isnull().values.any())
print(data['Jaundice '].isnull().values.any())

True
False
True
False
False
False
False

In [ ]:
# There are missing values in the Age, Ethnicity 
# LEt us check how many missing values are there in those 2 attributes
print (data['Age'].isnull().sum())
print (data['Ethnicity'].isnull().sum())

2
96

In [ ]:
# As it is a medical data and we are dealing with the healthcare domain so instead of subscituting we are deleting the rows only
data.dropna(inplace=True)
data.describe()

               A1           A2  ...          Age        Score
count  1726.00000  1726.000000  ...  1726.000000  1726.000000
mean      0.74044     0.480881  ...    30.162804     5.150058
std       0.43852     0.499779  ...    13.286612     2.546055
min       0.00000     0.000000  ...    17.000000     0.000000
25%       0.00000     0.000000  ...    22.000000     3.000000
50%       1.00000     0.000000  ...    28.000000     5.000000
75%       1.00000     1.000000  ...    36.000000     7.000000
max       1.00000     1.000000  ...   383.000000    10.000000

[8 rows x 12 columns]

In [ ]:

# Total number of records
n_records = len(data.index)

# TODO: Number of records where individual's with ASD
n_asd_yes = len(data[data['Class'] == 'YES'])

# TODO: Number of records where individual's with no ASD
n_asd_no = len(data[data['Class'] == 'NO'])

# TODO: Percentage of individuals whose are with ASD
yes_percent = float(n_asd_yes) / n_records *100

# Print the results
print ("Total number of records: {}".format(n_records))
print ("Individuals diagonised with ASD: {}".format(n_asd_yes))
print ("Individuals not diagonised with ASD: {}".format(n_asd_no))
print ("Percentage of individuals diagonised with ASD: {:.2f}%".format(yes_percent))

Total number of records: 1726
Individuals diagonised with ASD: 538
Individuals not diagonised with ASD: 1188
Percentage of individuals diagonised with ASD: 31.17%

In [ ]:
data.drop(['Score'], axis=1, inplace= True)
data.drop(['Age'], axis=1, inplace= True)

In [ ]:
data.head()

   A1  A2  A3  A4  ...                Ethnicity  Jaundice   Parent_ASD  Class
0   0   0   0   0  ...  White-European-European         NO          NO     NO
1   1   1   1   1  ...  White-European-European         NO          NO    YES
2   1   1   0   1  ...                    Black         NO          NO     NO
3   1   0   0   0  ...                    Black         NO          NO    YES
4   1   1   1   0  ...               Aboriginal         NO          NO     NO

[5 rows x 15 columns]

In [ ]:
  data['Gender'] = data['Gender'].map({'M': 0, 'F': 1})
data['Jaundice '] = data['Jaundice '].map({'NO': 0, 'YES': 1})
data['Parent_ASD'] = data['Parent_ASD'].map({'NO': 0, 'YES': 1})
data['Class'] = data['Class'].map({'NO': 0, 'YES': 1})

In [ ]:
data.head()

   A1  A2  A3  A4  ...                Ethnicity  Jaundice   Parent_ASD  Class
0   0   0   0   0  ...  White-European-European          0           0      0
1   1   1   1   1  ...  White-European-European          0           0      1
2   1   1   0   1  ...                    Black          0           0      0
3   1   0   0   0  ...                    Black          0           0      1
4   1   1   1   0  ...               Aboriginal          0           0      0

[5 rows x 15 columns]

In [ ]:
data['Ethnicity'].unique()

array(['White-European-European', 'Black', 'Aboriginal', 'Latino',
       'Middle Eastern', 'Others ', 'Asian', 'South Asian', 'Hispanic',
       'White-European', 'Others', 'Pasifika', 'Turkish',
       'Middle Eastern ', 'others'], dtype=object)

In [ ]:
data['Ethnicity'] = data['Ethnicity'].map({'others':'Others','Turkish':'Turkish','South Asian':'South Asian','Hispanic':'Hispanic','Pasifika':'Pasifika','Black' : 'Black','Aboriginal':'Aboriginal','Latino':'Latino','Asian':'Asian','White-European-European': 'White-European' ,'Others ' : 'Others','Middle Eastern ':'Middle Eastern' })

In [ ]:
data['Ethnicity'].unique()

array(['White-European', 'Black', 'Aboriginal', 'Latino', nan, 'Others',
       'Asian', 'South Asian', 'Hispanic', 'Pasifika', 'Turkish',
       'Middle Eastern'], dtype=object)

In [ ]:

# Total number of records
n_records = len(data.index)

# TODO: Number of records where individual's with ASD
n_asd_yes = len(data[data['Class'] == 1])

# TODO: Number of records where individual's with no ASD
n_asd_no = len(data[data['Class'] == 0])

# TODO: Percentage of individuals whose are with ASD
yes_percent = float(n_asd_yes) / n_records *100

# Print the results
print ("Total number of records: {}".format(n_records))
print ("Individuals diagonised with ASD: {}".format(n_asd_yes))
print ("Individuals not diagonised with ASD: {}".format(n_asd_no))
print ("Percentage of individuals diagonised with ASD: {:.2f}%".format(yes_percent))

Total number of records: 1726
Individuals diagonised with ASD: 538
Individuals not diagonised with ASD: 1188
Percentage of individuals diagonised with ASD: 31.17%

In [ ]:
#data['Ethnicity'] = data['Ethnicity'].astype('str')
data['Ethnicity'] = data['Ethnicity'].astype(str)

In [ ]:
#label encoding of ethnicity
object_cols = ['Ethnicity']

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

label_autism_data = data.copy()

for col in object_cols:
  label_autism_data[col] = label_encoder.fit_transform(data[col])

In [ ]:
label_autism_data.head()

   A1  A2  A3  A4  A5  A6  ...  A10  Gender  Ethnicity  Jaundice   Parent_ASD  Class
0   0   0   0   0   0   0  ...    0       1         10          0           0      0
1   1   1   1   1   1   1  ...    1       1         10          0           0      1
2   1   1   0   1   1   0  ...    0       0          2          0           0      0
3   1   0   0   0   1   1  ...    1       0          2          0           0      1
4   1   1   1   0   0   0  ...    0       0          0          0           0      0

[5 rows x 15 columns]

In [ ]:
X = label_autism_data.iloc[:,0:14]
y = label_autism_data.iloc[:,14]

In [ ]:
X

      A1  A2  A3  A4  A5  A6  ...  A9  A10  Gender  Ethnicity  Jaundice   Parent_ASD
0      0   0   0   0   0   0  ...   0    0       1         10          0           0
1      1   1   1   1   1   1  ...   1    1       1         10          0           0
2      1   1   0   1   1   0  ...   0    0       0          2          0           0
3      1   0   0   0   1   1  ...   1    1       0          2          0           0
4      1   1   1   0   0   0  ...   0    0       0          0          0           0
...   ..  ..  ..  ..  ..  ..  ...  ..  ...     ...        ...        ...         ...
1816   1   1   1   1   1   1  ...   1    1       1          7          0           0
1817   0   1   0   1   1   0  ...   1    1       1         11          0           0
1818   1   0   0   0   0   0  ...   0    1       0          3          0           0
1820   1   0   0   1   1   0  ...   1    1       0          8          0           0
1821   1   0   1   1   1   0  ...   1    1       1         11          0           0

[1726 rows x 14 columns]

In [ ]:
y

0       0
1       1
2       0
3       1
4       0
       ..
1816    1
1817    1
1818    0
1820    0
1821    1
Name: Class, Length: 1726, dtype: int64

In [ ]:
# Borderline smote
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import BorderlineSMOTE 
sm = BorderlineSMOTE(random_state=42)
X_res_borderline, y_res_bol = sm.fit_resample(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print('Resampled dataset shape %s' % Counter(y))
print('Resampled dataset shape %s' % Counter(y_res_bol))

Resampled dataset shape Counter({0: 1188, 1: 538})
Resampled dataset shape Counter({0: 1188, 1: 1188})

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X_res_borderline, y_res_bol, test_size=0.25, random_state=0)

In [ ]:
len(X_train)

1782

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
#kNN
# Fitting classifier to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=42) 
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=42, p=2,
                     weights='uniform')

In [ ]:
# logistic
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel= 'linear',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
# kernel svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
#naive bayes
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
# decision tree
# Fitting Decision Tree Classification to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
#random forest
# Fitting classifier to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=10,random_state=0,criterion='entropy')
classifier.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

In [ ]:
from sklearn.metrics import accuracy_score 
acc = accuracy_score(Y_test,y_pred) 
cm = confusion_matrix(Y_test, y_pred) 
print(cm) 
print(acc)

[[290  12]
 [  6 286]]
0.9696969696969697

In [ ]:
from imblearn.over_sampling import ADASYN
ada = ADASYN(random_state=42)
X_res_ada, y_res_ada = ada.fit_resample(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print('Resampled dataset shape %s' % Counter(y))
print('Resampled dataset shape %s' % Counter(y_res_ada))

Resampled dataset shape Counter({0: 1188, 1: 538})
Resampled dataset shape Counter({1: 1208, 0: 1188})

In [ ]:
# Splitting the dataset into the Training set and Test set 
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X_res_ada,y_res_ada, test_size = 0.25, random_state = 42)

In [ ]:
len(X_train) , len(Y_train) , len(X_test) , len(Y_test)

(1797, 1797, 599, 599)

In [ ]:

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
X_train=X_train.reshape((1797,14))

In [ ]:
#knn
# Fitting classifier to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=42,metric='minkowski')
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=42, p=2,
                     weights='uniform')

In [ ]:
# logistic
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel= 'linear',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
# kernel svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
#naive bayes
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
# decision tree
# Fitting Decision Tree Classification to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
#randon forest
# Fitting classifier to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=10,random_state=0,criterion='entropy')
classifier.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

In [ ]:
from sklearn.metrics import accuracy_score 
acc = accuracy_score(Y_test,y_pred) 
cm = confusion_matrix(Y_test, y_pred) 
print(cm) 
print(acc)

[[312  12]
 [  7 268]]
0.9682804674457429

In [ ]:
from imblearn.over_sampling import SMOTE 
smoteSampler = SMOTE(random_state=42)
X_res_smote, y_res_smote = smoteSampler.fit_resample(X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print('Resampled dataset shape %s' % Counter(y)) 
print('Resampled dataset shape %s' % Counter(y_res))

Resampled dataset shape Counter({0: 1188, 1: 538})
Resampled dataset shape Counter({0: 1188, 1: 1188})

In [ ]:
#Splitting the dataset into the Training set and Test set 
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train,Y_test = train_test_split(X_res_smote,y_res_smote, test_size = 0.25, random_state = 0)

In [ ]:

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
#knn
# Fitting classifier to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=42,metric='minkowski')
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=42, p=2,
                     weights='uniform')

In [ ]:
# logistic
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel= 'linear',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
# kernel svm
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
#naive bayes
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
# decision tree
# Fitting Decision Tree Classification to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
#random forest
# Fitting classifier to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=10,random_state=0,criterion='entropy')
classifier.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

In [ ]:
from sklearn.metrics import accuracy_score 
acc = accuracy_score(Y_test,y_pred) 
cm = confusion_matrix(Y_test, y_pred) 
print(cm) 
print(acc)

[[290  12]
 [  3 289]]
0.9747474747474747